@charset "utf-8";

.unShow {
    display: none;
}

.MaskBg {
    background: rgba(0, 0, 0, 0.8);
}

.module_box{
    z-index: 500;
    position: absolute;
    left:0;
    top:0;
}

::-webkit-input-placeholder {
    color: #838383;
}

.swiper-container{
    width:100%;
    height: 100%;
    max-width: 640px;

}
.swiper-slide{
    background: url(../images/bg.png) center -108px no-repeat
}

.ms{position: fixed;top:19px;right:22px;z-index: 30;background:url(../images/ms1.png);height:50px;width:50px;}
.suihua{

    -webkit-animation:suihua 3s linear 0s infinite;
    animation:suihua 3s linear 0s infinite;
}
@-webkit-keyframes suihua {
    0% {-webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);  }
    100% { -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);  }
}
@keyframes suihua {
    0% {-webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);  }
    100% { -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);  }
}

.arrow_up{
    position: absolute;
    left:50%;
    margin-left: -10px;
    bottom:0;
    z-index:50;
    animation: arrow_up 0.8s linear 0s infinite alternate;
    -webkit-animation: arrow_up 0.8s linear 0s infinite alternate;
}

@keyframes arrow_up
{
    0%   {bottom:0;}
    50%  {bottom:10px;}
    100% {bottom:0;}
}
@-webkit-keyframes arrow_up
{
    0%   {bottom:0;}
    50%  {bottom:10px;}
    100% {bottom:0;}
}

.scene_tips_box{position: absolute;left:0;top:50%;margin-top: -228px}
.scene_tips_text01,.scene_tips_text02,.scene_tips_text03{position: absolute;lefT:50%;margin-left: -199px;top:50%;margin-top: -123px;}
.scene_tips_btnBack{position: absolute;lefT:50%;margin-left: -199px;top:50%;margin-top: 80px;}
.scene_tips_btnStay{position: absolute;lefT:50%;margin-left: 199px;top:50%;margin-top: 80px;}
.scene_tips_btnStay{position: absolute;lefT:50%;margin-left: 34px;top:50%;margin-top: 80px;}

.share_img01{position: absolute;left:0;top:50px;}
.share_img02{position: absolute;left:50%;margin-left:-150px;top:50%;margin-top: 200px;}

.surprised_box{position: absolute;left:0;top:50%;margin-top: -430px;}
.surprised_title{position: absolute;left:50%;margin-left: -238px;top:50%;margin-top: -386px;}
.surprised_text{position: absolute;left:50%;margin-left:-215px;top:50%;margin-top: -305px;width:430px;font-size:24px;color:#fff;line-height: 2em;height: 567px;overflow-y: auto;}
.surprised_btnBack{position: absolute;left:50%;margin-left: -153px;top:50%;margin-top: 306px;}

.submit_box{position: absolute;left:0;top:50%;margin-top: -292px;}
input[name="name"],input[name="phone"],input[name="address"]{  position: absolute;  left:50%;  margin-left: -77px;
    top:50%;  background: transparent;  border:0;  width: 287px;  height: 62px;  line-height: 62px;  color:#084865;  font-size: 30px;
}
input[name="name"]{margin-top: -127px;}
input[name="phone"]{margin-top: -35px;}
input[name="address"]{margin-top: 57px;}
.btnSubmit{position: absolute;left:50%;margin-left: -153px;top:50%;margin-top: 146px;width: 310px;height: 56px;}

.submit_tips_box{position: absolute;left:0;top:50%;margin-top: -165px;}
.submit_box_time{position: absolute;left:50%;margin-left: -258px;top: 50%;margin-top: 358px;}
.submit_tips_text01{position: absolute;left:50%;margin-left:-165px;top:50%;margin-top: -96px;}
.submit_tips_text02{position: absolute;left:50%;margin-left:-207px;top:50%;margin-top: -96px;}
.submit_tips_btnBack{position: absolute;left:50%;margin-left:-153px;top:50%;margin-top: 34px;}
.submit_tips_btnSure{position: absolute;left:50%;margin-left:-153px;top:50%;margin-top: 34px;}

.lottery_tips_box{position: absolute;left:0;top:50%;margin-top: -188px;}
.lottery_tips_box02{position: absolute;left:0;top:50%;margin-top: -257px;}
.lottery_tips_text01{position: absolute;left:50%;margin-left:-238px;top:50%;margin-top: -70px;}
.lottery_tips_text02{position: absolute;left:50%;margin-left:-238px;top:50%;margin-top: -92px;}
.lottery_tips_text03{position: absolute;left:0;top:50%;margin-top: -252px;}
.lottery_tips_text04{position: absolute;left:0;top:50%;margin-top: -252px;}
.lottery_tips_text05{position: absolute;left:0;top:50%;margin-top: -252px;}
.lottery_tips_text06{position: absolute;left: 50%;margin-left: -200px;top:50%;margin-top: -82px;}
.lottery_tips_btnSure{position: absolute;left:50%;margin-left: -156px;top:50%;margin-top: 44px}
.lottery_tips_btnSure03{margin-top: 127px;}

#Page1{background: rgba(0,0,0,0.6)}
#Page1 .book_bg{position: absolute;left:50%;margin-left: -176px;top:50%;margin-top: -244px;}
#Page1 .book_page{position: absolute;left:50%;margin-left: -167px;top:50%;margin-top: -238px;}

#Page1 .book_cover{position: absolute;left:50%;margin-left: -181px;top:50%;margin-top: -244px;
    -webkit-transform-origin: 10px center;
    transform-origin: 10px center;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d
}
#Page1 .book_cover_ani{
    animation: book_cover 2s linear  1s 1 normal forwards;
    -webkit-animation: book_cover 2s linear 1s 1 normal forwards;
}

#Page1 .book_cover_back{position: absolute;left:50%;margin-left: -181px;top:50%;margin-top: -244px;width:357px;height:492px;
    opacity: 0
    -webkit-transform-origin: 10px center;
    transform-origin: 10px center;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d
}

#Page1 .book_cover_back_ani{
    animation: book_cover_back 2s linear  1s 1 normal forwards;
    -webkit-animation: book_cover_back 2s linear 1s 1 normal forwards;
}

@keyframes book_cover
{
    0%   {transform: rotateY(0deg);opacity: 1 }
    50.95%{opacity: 1}
    51%{opacity: 0}
    100% {transform: rotateY(-180deg);}
}
@-webkit-keyframes book_cover
{
    0%   {-webkit-transform:rotateY(0deg);opacity: 1}
    50.95%{opacity: 1}
    51%{opacity: 0}
    100% {-webkit-transform:  rotateY(-180deg);}
}

@keyframes book_cover_back
{
    0%   {transform:rotateY(0deg);opacity: 0}
    50.95%{z-index:0;opacity: 0}
    51%{z-index:10;opacity: 1}
    100% {transform:  rotateY(-180deg);z-index:10}
}
@-webkit-keyframes book_cover_back
{
    0%   {-webkit-transform:rotateY(0deg);opacity: 0}
    50.95%{z-index:0;opacity: 0}
    51%{z-index:10;opacity: 1}
    100% {-webkit-transform:  rotateY(-180deg);z-index:10}
}

#Page2{background: url(../images/p2_bg.png) center -108px no-repeat}
#Page2 .p2_logo{position: absolute;left:48px;top:98px}
#Page2 .p2_logo2{position: absolute;left: 375px;top: 89px;}
#Page2 .p2_img01{position: absolute;left:0px;top:182px}
#Page2 .p2_img02{position: absolute;left:0px;top:606px}

#Page3{background: url(../images/p3_bg.png) center -108px no-repeat}
#Page3 .p3_img01{position: absolute;left:50%;margin-left: -232px;top:80px;}
#Page3 .p3_img02{position: absolute;left:50%;margin-left: 31px;top: 265px;}
#Page3 .p3_img03{position: absolute;left:50%;margin-left: -241px;top: 351px;}
#Page3 .p3_img04{position: absolute;left:50%;margin-left: -100px;top: 540px;
    animation: p3_img04 0.8s linear 0s infinite alternate;
    -webkit-animation: p3_img04 0.8s linear 0s infinite alternate;
}
@keyframes p3_img04
{
    0%   {top: 540px}
    50%  {top: 550px}
    100% {top: 540px}
}
@-webkit-keyframes p3_img04
{
    0%   {top: 540px}
    50%  {top: 550px}
    100% {top: 540px}
}
#Page3 .p3_img05{position: absolute;left:50%;margin-left: 50px;top: 778px;}
#Page3 .p3_img06{position: absolute;left:50%;margin-left: -235px;top: 846px;}

#Page4 .p4_img01{position: absolute;left:50%;margin-left:-232px;top:110px}
#Page4 .p4_img02{position: absolute;left:50%;margin-left:-217px;top: 230px;}
#Page4 .p4_img03{position: absolute;left:50%;margin-left:-217px;top: 448px;}
#Page4 .p4_img04{position: absolute;left:50%;margin-left:-217px;top: 668px;}
#Page4 .p4_img05{position: absolute;left:50%;margin-left: -235px;top: 876px;}

#Page5 .p5_img01{position: absolute;left:50%;margin-left:-232px;top: 36px;}
#Page5 .p5_img02{position: absolute;left:50%;margin-left:-245px;top: 160px;}
#Page5 .p5_img03{position: absolute;left:50%;margin-left: 130px;top: 246px;
    animation: p5_img03 1s linear 0s infinite alternate;
    -webkit-animation: p5_img03 1s linear 0s infinite alternate;
}
@keyframes p5_img03
{
    0%   {transform: scale(1,1);}
    50%   {transform: scale(1.2,1.2);}
    100% {transform: scale(1,1);}
}
@-webkit-keyframes p5_img03
{
    0%   {-webkit-transform:scale(1,1);}
    50%   {-webkit-transform:scale(1.2,1.2);}
    100% {-webkit-transform:scale(1,1);}
}
#Page5 .p5_img05{position: absolute;left:50%;margin-left: -57px;top: 202px;display: none}
#Page5 .kiss{
    animation: kiss 0.6s linear 0s 1 normal forwards;
    -webkit-animation: kiss 0.6s linear 0s 1 normal forwards;
}
@keyframes kiss
{
    0%   {transform: scale(1,1)}
    100% {transform:scale(0.13,0.13)}
}
@-webkit-keyframes kiss
{
    0%   {-webkit-transform:scale(1,1)}
    100% {-webkit-transform:scale(0.13,0.13)}
}
#Page5 .p5_img04{position: absolute;left:50%;margin-left: -235px;top: 933px;}

#Page6 .p6_img01{position: absolute;left:50%;margin-left: -235px;top: 26px;}
#Page6 .p6_img02,#Page6 .p6_img03{position: absolute;left:50%;margin-left: -274px;top: 150px;}
#Page6 .p6_img03{display: none}
#Page6 .p6_img04{position: absolute;left:50%;margin-left: -68px;top: 273px;display: block !important;transform: scale(0.6,0.6);-webkit-transform: scale(0.6,0.6);
    animation: p6_img04 1s linear 0s infinite alternate;
    -webkit-animation: p6_img04 1s linear 0s infinite alternate;
}
@keyframes p6_img04
{
    0%   {transform:scale(0.6,0.6)}
    0%   {transform:scale(0.75,0.75)}
    100% {transform:scale(0.6,0.6)}
}
@-webkit-keyframes p6_img04
{
    0%   {-webkit-transform:scale(0.6,0.6)}
    0%   {-webkit-transform:scale(0.75,0.75)}
    100% {-webkit-transform:scale(0.6,0.6)}
}

#Page6 .getapple{
    animation: getapple 2s linear 0s 1 normal forwards;
    -webkit-animation: getapple 2s linear 0s 1 normal forwards;
}
@keyframes getapple
{
    0%   {transform:scale(0.6,0.6) translateX(0px)}
    100% {transform:scale(0.6,0.6) translateX(-800px)}
}
@-webkit-keyframes getapple
{
    0%   {-webkit-transform:scale(0.6,0.6) translateX(0px)}
    100% {-webkit-transform:scale(0.6,0.6) translateX(-800px)}
}

#Page6 .p6_img05{position: absolute;left:50%;margin-left: -235px;bottom: 20px;}
#Page6 .apple{position: absolute;left:50%;margin-left: -50px;top:291px;width: 50px;height: 50px;}

#Page7 .p7_img01{position: absolute;left:50%;margin-left: -232px;top: 60px;}
#Page7 .p7_img02,#Page7 .p7_img03{position: absolute;left:50%;margin-left: -199px;top: 230px;}
#Page7 .p7_img03{display: none}
#Page7 .p7_img04{position: absolute;left:50%;margin-left: -285px;top: 535px;
    animation: p7_img04 1s linear 0s infinite alternate;
    -webkit-animation: p7_img04 1s linear 0s infinite alternate;
}
@keyframes p7_img04
{
    0%   {opacity: 1}
    50%   {opacity: 0.4}
    100% {opacity: 1}
}
@-webkit-keyframes p7_img04
{
    0%   {opacity: 1}
    50%   {opacity: 0.4}
    100% {opacity: 1}
}
#Page7 .getshoes{
    animation: getshoes 2s linear 0s 1 normal forwards;
    -webkit-animation: getshoes 2s linear 0s 1 normal forwards;
}
@keyframes getshoes
{
    0%{transform:translate(0px,0px)}
    40%{transform: translate(0px,300px);}
    60%{transform: translate(78px,300px);}
    100% {transform: translate(78px,210px);}
}
@-webkit-keyframes getshoes
{
    0% {-webkit-transform:translate(0px,0px)}
    25%{-webkit-transform: translate(0px,250px);}
    50%{-webkit-transform: translate(78px,250px);}
    100% {-webkit-transform: translate(78px,210px);}
}

#Page7 .p7_img05{position: absolute;left:50%;margin-left: -235px;top: 919px;}

#Page8 .p8_img01{position: absolute;left:50%;margin-left: -247px;top: 50%;margin-top: -448px;}
#Page8 .p8_img02{position: absolute;left:50%;margin-left: -273px;top: 50%;margin-top: -278px;}
#Page8 .p8_img03{position: absolute;left:50%;margin-left: -238px;top: 50%;margin-top: -198px;}
#Page8 .p8_img04{position: absolute;left:50%;margin-left: -154px;top: 50%;margin-top: 270px;}
#Page8 .p8_img05{position: absolute;left:50%;margin-left: -235px;top: 50%;margin-top: 340px;}

#Page9 .p9_img01{position: absolute;left:50%;margin-left: -236px;top: 50%;margin-top: -460px;}
#Page9 .p9_img02{position: absolute;left:50%;margin-left: -279px;top: 50%;margin-top: -334px;}
#Page9 .p9_img03{position: absolute;left:50%;margin-left: -153px;top: 50%;margin-top: 288px;}
#Page9 .p9_img04{position: absolute;left:50%;margin-left: -235px;top: 50%;margin-top: 349px;}
#Page9 .p9_btn{position: absolute;left:50%;margin-left: -276px;top:50%;height: 84px}
#Page9 .p9_btn01{margin-top: -332px;width: 363px;}
#Page9 .p9_btn02{margin-top: -240px;width: 547px;}
#Page9 .p9_btn03{margin-top: -131px;width: 392px;}
#Page9 .p9_btn04{margin-top: -38px;width: 429px;}
#Page9 .p9_btn05{margin-top: 48px;width: 325px;}
#Page9 .p9_btn06{margin-top: 142px;width: 560px;}

#Page10 .p10_img01{position: absolute;left:50%;margin-left: -235px;top:50%;margin-top: -380px;}
#Page10 .p10_img02{position: absolute;left:50%;margin-left: -236px;top:50%;margin-top: -230px;}
#Page10 .p10_img03{position: absolute;left:50%;margin-left: -236px;top:50%;margin-top: 286px;}
#Page10 .p10_img04{position: absolute;left:50%;margin-left: -236px;top:50%;margin-top: -208px;opacity: 0;
    animation: light 0.6s ease 0s infinite alternate;
    -webkit-animation: light 0.6s ease 0s infinite alternate;
}
#Page10 .p10_img05{position: absolute;left:50%;margin-left: -236px;top:50%;margin-top: -208px;opacity: 0;
    animation: light 0.6s ease 0.6s infinite alternate;
    -webkit-animation: light 0.6s ease 0.6s infinite alternate;
}
#Page10 .p10_img06{position: absolute;left:50%;margin-left: -101px;top:50%;margin-top: -67px;transform-origin: 103px 74px;
    transform: rotate(-5deg);}

@keyframes light
{
    0%   {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes light
{
    0%   {opacity: 0}
    100% {opacity: 1}
}
#Page10 .p10_img07{position: absolute;left:50%;margin-left:-27px;top:50%;margin-top: -25px; }







