@charset "utf-8";

.unShow {
    display: none;
}

.MaskBg {
    background: rgba(0, 0, 0, 0.8);
}

.module_box{
    z-index: 100;
    position: absolute;
    left:0;
    top:0;
}

.text_box{
    width:500px;
    height:650px;
    border-radius: 10px;
    background: #b9ddbe;
    position: absolute;
    left:70px;
    top:130px;
}

.md2_btnLine{
    position: absolute;
    left: 500px;
    top: 75px;
}

.md2_btnClose{
    position: absolute;
    left: 502px;
    top: 26px;
}

#Module1 .md1_p{
    margin: 30px 20px 0 20px;
    color:#175200;
    font-size:24px;
    line-height: 44px;
}

#Module1 .md1_img{
    position: absolute;
    left: 0;
    top: 515px;
}
#Module2  .md2_img{
    position: absolute;
    left: 0;
    top: 435px;
}

#Module3 p,#Module2 p{
    color:#175200;
    font-size:24px;
    line-height: 60px;
    text-align: center;
}

#Module3 p:nth-child(1),#Module3 p:nth-child(2){
    font-weight: bold;
    font-size: 30px;
}
#Module3 p:nth-child(3){
    font-size: 48px;
}

#Module1 .md2_img{
    position: absolute;
    left: 0;
    top: 515px;
}

#Module3 .md3_img{
    position: absolute;
    left:0;
    top:450px;
}

::-webkit-input-placeholder {
    color: #eee0d9;
}

.swiper-container{
    width:100%;
    height: 100%;
}
.PageBg{
    background-size:cover;
}

.navBg{
    width:39px;
    height:100%;
    background: #005f30;
    position: absolute;
    right:0;
    top:0;
    z-index:100;
}

.nav_btn{
    position: absolute;
    right:0;
    top:0;
    width:48px;
    height:230px;
    z-index:999
}

.nav_btn2{
    top:231px;
}

.nav_btn3{
    top:461px;
}

.nav_btn4{
    top:691px;
}

.arrow_up{
    position: absolute;
    left:280px;
    bottom: 10px;
    z-index:500;
    animation-name: arrow_up;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 0.75s;
    -webkit-animation-name: arrow_up;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.75s;
}

@keyframes arrow_up {
    0%     {transform: translate(0,0) }
    50%    {transform: translate(0,-10px)}
    100%   {transform: translate(0,0) }
}

@-webkit-keyframes arrow_up {
    0%     {transform: translate(0,0) }
    50%    {transform: translate(0,-10px)}
    100%   {transform: translate(0,0) }
}

#Page1{
    background:#f6efdd url(../images/p1_bg.png) left top no-repeat;
}

#Page1 #p1_open{
    position: absolute;
    left:90px;
    top:300px;
    animation-name: p1_open;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    -webkit-animation-name: p1_open;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 2s;
}

@keyframes p1_open {
    0%     {transform: scale(1.3,1.3) }
    50%    {transform: scale(0.8,0.8)}
    100%   {transform: scale(1.3,1.3) }
}

@-webkit-keyframes p1_open {
    0%     {transform: scale(1.3,1.3) }
    50%    {transform: scale(0.8,0.8)}
    100%   {transform: scale(1.3,1.3) }
}

#Page2{
    background: #ece0d0;
}

#Page2 .p2_doorframe{
    position:absolute;
    left:95px;
    top:50px;
}

#Page2 .p2_door{
    position: absolute;
    left: 120px;
    top: 72px;
    z-index:200;
    animation-duration:2s;
    -webkit-animation-duration:2s;
    animation-delay:1s;
    -webkit-animation-delay:1s;
    transform-origin:100% 50%;
    -webkit-transform-origin: 100% 50%;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode:forwards;
    -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
}

@keyframes p2_door
{
    0%   {transform:perspective(0px) scale(1,1)  rotateY(0deg);}
    100% {transform:perspective(999px) scale(0.65,1)  rotateY(20deg);}
}

@-webkit-keyframes p2_door
{
    0%   {-webkit-transform:perspective(0px) scale(1,1)  rotateY(0deg);}
    100% {-webkit-transform:perspective(999px) scale(0.65,1)  rotateY(20deg);}
}


#Page2 .p2_butterfly1{
    position:absolute;
    left:260px;
    top:300px;
    width: 57px;
    height:36px;
    background-image: url(../images/p2_butterfly1.png);
    background-repeat: no-repeat;
    background-position: center center;
    animation-name: p2_butterfly1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-linear;
    animation-duration: 1s;
    -webkit-animation-name: p2_butterfly1;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-linear;
    -webkit-animation-duration: 1s;
}

#Page2 .p2_butterfly2{
    position:absolute;
    left:260px;
    top:300px;
    width: 57px;
    height:36px;
    background-image: url(../images/p2_butterfly1.png);
    background-repeat: no-repeat;
    background-position: center center;
    animation-name: p2_butterfly1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-linear;
    animation-duration: 1s;
    -webkit-animation-name: p2_butterfly1;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-linear;
    -webkit-animation-duration: 1s;
}

@keyframes p2_butterfly1 {
    0%        {background-image: url(../images/p2_butterfly1.png);}
    14.285%        {background-image: url(../images/p2_butterfly2.png); }
    28.571%        {background-image: url(../images/p2_butterfly3.png); }
    42.857%        {background-image: url(../images/p2_butterfly2.png);}
    57.142%        {background-image: url(../images/p2_butterfly1.png);}
    71.428%        { background-image: url(../images/p2_butterfly2.png);}
    85.714%    { background-image: url(../images/p2_butterfly3.png); }
    100%    { background-image: url(../images/p2_butterfly2.png); }
}

@-webkit-keyframes p2_butterfly1 {
    0%        {background-image: url(../images/p2_butterfly1.png);}
    14.285%        {background-image: url(../images/p2_butterfly2.png); }
    28.571%        {background-image: url(../images/p2_butterfly3.png); }
    42.857%        {background-image: url(../images/p2_butterfly2.png);}
    57.142%        {background-image: url(../images/p2_butterfly1.png);}
    71.428%        { background-image: url(../images/p2_butterfly2.png);}
    85.714%    { background-image: url(../images/p2_butterfly3.png); }
    100%    { background-image: url(../images/p2_butterfly2.png); }
}

#Page3{
    background: url(../images/p3_bg.png) left top no-repeat;
}

#Page3 .p3_text01{
    position: absolute;
    left: 50px;
    top: 35px;
}

#Page3 .p3_text02{
    position: absolute;
    left: 50px;
    top: 230px;
}

#Page3 .p3_img01{
    position: absolute;
    left: 0px;
    top: 382px;
}

#Page3  .p3_nav{
    position: absolute;
    right:0;
    top:0;
    z-index: 200;
}

#Page4{
    background: url(../images/p3_bg.png) left top no-repeat;
}

#Page4 .p4_img01{
    position: absolute;
    left: 30px;
    top: 50px;
}

#Page4 #btn_more1{
    position: absolute;
    left: 375px;
    top: 262px;
}

#Page4 .p4_line{
    position: absolute;
    left:40px;
    top:0;
}

#Page4  .p4_img02{
    position: absolute;
    left: 80px;
    top: 350px;
}

#Page4 #btn_more2{
    position: absolute;
    left: 445px;
    top: 561px;
}

#Page4  .p4_img03{
    position: absolute;
    left: 44px;
    top: 648px;
}

#Page4 #btn_more3{
    position: absolute;
    left: 401px;
    top: 860px;
}

#Page4 .p4_nav{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 200;
}

#Page5  .swiper-button-next{
    position: absolute;
    right: 52px;
    top: 365px;
    background-image: url(../images/p5_btnRight.png);
    width: 45px;
    height: 68px;
    z-index:999;
    display: none;
}

#Page5  .swiper-button-prev{
    position: absolute;
    left: 20px;
    top: 365px;
    background-image: url(../images/p5_btnLeft.png);
    width: 43px;
    height: 68px;
    z-index:999;
    display: none;
}

#Page5  .swiper-pagination{
    display: none;
}

#Page5 .p5_nav{
    position: absolute;
    right:0;
    top:0;
    z-index: 200;
}

#Page5  .p5_btnRight{
    position: absolute;
    right: 52px;
    top: 365px;
    z-index:999;
}

#Page5  .p5_btnLeft{
    position: absolute;
    left: 20px;
    top: 365px;
    z-index:999;
}

#Page6{
    background:#80c159 url(../images/p3_bg.png) left top no-repeat;
}

#Page6 .p6_text01{
    position: absolute;
    left: 74px;
    top:90px;
}

#Page6 .sideRote{
    position: absolute;
    left:110px;
    top:290px;
    width:420px;
    height: 370px;
}

#Page6 .swiper-pagination{
    display: none;
}

#Page6 #swiper-container3 .swiper-button-prev{
     background-image: url(../images/p5_btnLeft.png);
     left:-54px;
    width:50px;
    height:70px;
}

#Page6 #swiper-container3 .swiper-button-next{
    background-image: url(../images/p5_btnRight.png);
    right:-47px;
    width:50px;
    height:70px;
}

#Page6 .p6_nav{
    position: absolute;
    right: 0;
    top:0;
    z-index: 100
}

#Page6  .p6_cloud{
    position: absolute;
    left:0;
    top:500px;
}

#Page6 .p6_title{
    position: absolute;
    left: 20px;
    top: 772px;
}

#Page7{
    background: url(../images/p3_bg.png) left top no-repeat;
}

#Page7 .p7_text01{
    position: absolute;
    left:180px;
    top:84px;
}

#Page7 .p7_text02{
    position: absolute;
    left:50px;
    top:170px;
}

#Page7 .p7_text03{
    position: absolute;
    left:150px;
    top:345px;
}

#Page7 .p7_code{
    position: absolute;
    left: 150px;
    top: 408px;
    z-index: 100;
}

#Page7 .p7_img01{
    position: absolute;
    left: 0;
    top: 677px;
}

#Page7 .p7_icon{
    position: absolute;
    left: 430px;
    top: 764px;
    animation-name: p7_icon;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    -webkit-animation-name: p7_icon;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
}

@keyframes p7_icon {
    0%        {transform:  translate(-5px,0) }
    50%        {transform:  translate(5px,0)}
    100%    { transform:  translate(-5px,0) }
}

@-webkit-keyframes p7_icon {
    0%        {transform:  translate(-5px,0) }
    50%        {transform:  translate(5px,0)}
    100%    { transform:  translate(-5px,0) }
}

#Page7  .telphone{
    position: absolute;
    left:175px;
    top:747px;
    width:296px;
    height: 80px;
    z-index: 500;
    display: block;
}

#Page7 .p7_copyright{
    position: absolute;
    left:224px;
    top:932px;
}


@media screen and (max-height: 1000px) {
    #Page2 .p2_doorframe{
        position:absolute;
        transform: scale(0.9,0.9);
        -webkit-transform:scale(0.9,0.9);
        left:95px;
        top:50px;
    }

    #Page2 .p2_door{
        position: absolute;
        left: 101px;
        top: 72px;
        z-index:200;
        transform: scale(0.9,0.9);
        -webkit-transform: scale(0.9,0.9);
        animation-duration:2s;
        -webkit-animation-duration:2s;
        animation-delay:1s;
        -webkit-animation-delay:1s;
        transform-origin:100% 50%;
        -webkit-transform-origin: 100% 50%;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode:forwards;
        -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
    }

    @keyframes p2_door
    {
        0%   {transform:perspective(0px) scale(0.9,0.9)  rotateY(0deg);}
        100% {transform:perspective(999px) scale(0.55,0.9)  rotateY(20deg);}
    }

    @-webkit-keyframes p2_door
    {
        0%   {transform:perspective(0px) scale(0.9,0.9)  rotateY(0deg);}
        100% {transform:perspective(999px) scale(0.55,0.9)  rotateY(20deg);}
    }

    #Page2 .p2_butterfly1{
        position:absolute;
        left:260px;
        top:300px;
        width: 57px;
        height:36px;
        background-image: url(../images/p2_butterfly1.png);
        background-repeat: no-repeat;
        background-position: center center;
        animation-name: p2_butterfly1;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 1s;
        -webkit-animation-name: p2_butterfly1;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
        -webkit-animation-duration: 1s;
    }

    #Page2 .p2_butterfly2{
        position:absolute;
        left:260px;
        top:300px;
        width: 57px;
        height:36px;
        background-image: url(../images/p2_butterfly1.png);
        background-repeat: no-repeat;
        background-position: center center;
        animation-name: p2_butterfly1;
        animation-iteration-count: infinite;
        animation-timing-function: ease-linear;
        animation-duration: 1s;
        -webkit-animation-name: p2_butterfly1;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-linear;
        -webkit-animation-duration: 1s;
    }

    @keyframes p2_butterfly1 {
        0%        {background-image: url(../images/p2_butterfly1.png);}
        14.285%        {background-image: url(../images/p2_butterfly2.png); }
        28.571%        {background-image: url(../images/p2_butterfly3.png); }
        42.857%        {background-image: url(../images/p2_butterfly2.png);}
        57.142%        {background-image: url(../images/p2_butterfly1.png);}
        71.428%        { background-image: url(../images/p2_butterfly2.png);}
        85.714%    { background-image: url(../images/p2_butterfly3.png); }
        100%    { background-image: url(../images/p2_butterfly2.png); }
    }

    @-webkit-keyframes p2_butterfly1 {
        0%        {background-image: url(../images/p2_butterfly1.png);}
        14.285%        {background-image: url(../images/p2_butterfly2.png); }
        28.571%        {background-image: url(../images/p2_butterfly3.png); }
        42.857%        {background-image: url(../images/p2_butterfly2.png);}
        57.142%        {background-image: url(../images/p2_butterfly1.png);}
        71.428%        { background-image: url(../images/p2_butterfly2.png);}
        85.714%    { background-image: url(../images/p2_butterfly3.png); }
        100%    { background-image: url(../images/p2_butterfly2.png); }
    }

    #Page7 .p7_copyright{
        position: absolute;
        left:224px;
        top:900px;
    }
}
