@charset "utf-8";
.unShow {
    display: none;
}

.MaskBg {
    background: rgba(0, 0, 0, 0.85);
}

.module_box{
    z-index: 100;
    position: absolute;
    left:0;
    top:0;
}

::-webkit-input-placeholder {
    color: #838383;
}

.swiper-container{
    width:100%;
    height: 100%;
    max-width: 640px;
}
#swiper-container01 .swiper-slide{
    background: url(../images/bg.jpg) center -109px no-repeat;
}

.logo{
    position: absolute;
    left:42px;
    top:26px;
}

.ms{position: fixed;top:19px;right:22px;z-index: 30;background:url(../images/ms1.png);height:50px;width:50px;}
.suihua{

    -webkit-animation:suihua 3s linear 0s infinite;
    animation:suihua 3s linear 0s infinite;
}
@-webkit-keyframes suihua {
    0% {-webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);  }
    100% { -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);  }
}
@keyframes suihua {
    0% {-webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);  }
    100% { -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);  }
}

.arrow_up{
    position: absolute;
    left:50%;
    margin-left: -42px;
    bottom:0;
    z-index:500;
    animation: arrow_up 0.8s linear 0s infinite alternate;
    -webkit-animation: arrow_up 0.8s linear 0s infinite alternate;
}

@keyframes arrow_up
{
    0%   {bottom:0;}
    50%  {bottom:10px;}
    100% {bottom:0;}
}
@-webkit-keyframes arrow_up
{
    0%   {bottom:0;}
    50%  {bottom:10px;}
    100% {bottom:0;}
}

.btnBar{position: fixed;left:0;bottom: 0;width:100%;height:98px;z-index:100}
.btnBar .btnOptions{width:25%;height:100%;background-image: url(../images/btn_bar.png);background-repeat: no-repeat}
.btnBar .btnOptions:nth-child(1){background-position: 0px center;}
.btnBar .btnOptions:nth-child(2){background-position: -160px center;}
.btnBar .btnOptions:nth-child(3){background-position: -320px center;}
.btnBar .btnOptions:nth-child(4){background-position: -480px center;}
.btnBar .btnOptions_on{background-image: url(../images/btn_bar_on.png)}

#homePage .home_img01{position: absolute;left:50%;margin-left: -282px;top:50%;margin-top: -370px;}
#homePage .home_img02{position: absolute;left:50%;margin-left: -193px;top:50%;margin-top: -34px;}

#Lottery .lottery_img01{position: absolute;left:0;top:50%;margin-top: -338px;}
#Lottery .lottery_card{position: absolute;left:50%;top:50%;width:140px;height:196px;}
#Lottery .lottery_card01{margin-left: -243px;margin-top: -375px;}
#Lottery .lottery_card02{margin-left: 92px;margin-top: -375px;}
#Lottery .lottery_card03{margin-left: -62px;margin-top: -169px;}
#Lottery .lottery_card04{margin-left: -243px;margin-top: 33px;}
#Lottery .lottery_card05{margin-left: 92px;margin-top: 33px;}
#Lottery .lottery_card_back{position: absolute;left:0;top:0;z-index:2}
#Lottery .lottery_card_face{position: absolute;left:0;top:0;z-index:1 }
#Lottery .back{
    animation: back  .6s forwards;
    -webkit-animation: back  .6s forwards;
}

@keyframes back
{
    0% { transform: rotateY(0deg);z-index:2;opacity: 1}
    49.5%{opacity: 1}
    50%{opacity: 0}
    100% { transform: rotateY(-180deg);z-index:1;opacity: 0}

}

@-webkit-keyframes back
{
    0% { transform: rotateY(0deg);z-index:2;opacity: 1}
    49.5%{opacity: 1}
    50%{opacity: 0}
    100% { transform: rotateY(-180deg);z-index:1;opacity: 0}
}

#Lottery .face{
    animation: face  .6s forwards;
    -webkit-animation: face  .6s forwards;
}

@keyframes face
{
    0% { transform: rotateY(180deg);z-index:1;opacity: 0}
    50%{opacity: 1}
    100% { transform: rotateY(0deg);z-index:2;opacity: 1}

}

@-webkit-keyframes face
{
    0% { transform: rotateY(180deg);z-index:1;opacity: 0}
    50%{opacity: 1}
    100% { transform: rotateY(0deg);z-index:2;opacity: 1}
}

#Rule .rule_text01{position: absolute;left:50%;margin-left:-101px;top:50%;margin-top: -438px; }
#Rule .rule_text02{position: absolute;left:50%;margin-left:-260px;top:50%;margin-top: -379px;}
#Rule .rule_img01{position: absolute;left:50%;margin-left:-215px;top:50%;margin-top: 124px;}

#Price .price_title{position: absolute;left:50%;margin-left: -150px;top:50%;margin-top: -442px;}
#Price  .price_img01{position: absolute;left:50%;margin-left: -276px;top:50%;margin-top: -368px;}
#Price  .price_img02{position: absolute;left:50%;margin-left: 22px;top:50%;margin-top: -368px;}
#Price  .price_img03{position: absolute;left:50%;margin-left: -123px;top:50%;margin-top: -129px;}
#Price  .price_img04{position: absolute;left:50%;margin-left: -276px;top:50%;margin-top: 100px;}
#Price  .price_img05{position: absolute;left:50%;margin-left: 22px;top:50%;margin-top: 100px;}

#Discount .discount_tilte{position: absolute;left:50%;margin-left: -129px;top:50%;margin-top: -450px;}
#Discount .discount_text01{position: absolute;left:50%;margin-left: -257px;top:50%;margin-top: -375px;}
#Discount .discount_text02{position: absolute;left:50%;margin-left: -257px;top:50%;margin-top: -75px;}
#Discount .discount_text03{position: absolute;left:50%;margin-left: -135px;top:50%;margin-top: 202px;}
#Discount .discount_btn{position: absolute;left:50%;margin-left: -250px;top:50%;width:500px;height:60px;}
#Discount .discount_btn01{margin-top: -68px;}
#Discount .discount_btn02{margin-top: 11px;}
#Discount .discount_btn03{margin-top: 92px;}
#Discount .discount_btn04{margin-top: 175px;}

.discount_alert_bg{position: absolute;left:50%;margin-left: -247px;top:50%;margin-top: -328px;}
.discount_alert01_text01{position: absolute;left:50%;margin-left: -210px;top:50%;margin-top: -278px;}
.discount_alert01_text02{position: absolute;left:50%;margin-left: -210px;top:50%;margin-top: -220px;}
.discount_alert01_code{position: absolute;left:50%;margin-left: -116px;top:50%;margin-top: 16px;}
.discount_alert02_text02{position: absolute;left:50%;margin-left: -203px;top:50%;margin-top: -220px;}
.discount_alert02_text03{position: absolute;left:50%;margin-left: -160px;top:50%;margin-top: 222px;}
.discount_alert02_img01{position: absolute;left:50%;margin-left: -232px;top:50%;margin-top: -50px;}
.discount_alert03_text02{position: absolute;left:50%;margin-left: -203px;top:50%;margin-top: -209px;}
.discount_alert03_img01{position: absolute;left:50%;margin-left: -167px;top:50%;margin-top: 26px;}
.discount_alert04_text02{position: absolute;left:50%;margin-left: -203px;top:50%;margin-top: -209px;}
.discount_alert04_img01{position: absolute;left:50%;margin-left: -193px;top:50%;margin-top: 7px;}
.discount_tips{position: absolute;left:50%;margin-left: -129px;top:50%;margin-top: 350px;;z-index:100}
.discount_alert_btnClose{position: absolute;left:50%;margin-left: -22px;top:50%;margin-top: 413px;z-index:100}

.price_alert_img{position: absolute;left:0;top:50%;margin-top: -448px;}
.price_alert_btn{position: absolute;left:50%;margin-left: -203px;top:50%;margin-top: 298px;}
.price_alert_code{position: absolute;left:50%;margin-left: -100px;top:50%;margin-top: -175px;}

#share_alert{z-index: 500;}
#share_alert .share_img01{position: absolute;right:0;top:50px;}

#submit_box01 .submit_box_bg{position: absolute;left:50%;margin-left: -247px;top:50%;margin-top: -328px;}
#submit_box02 .submit_box_bg{position: absolute;left:50%;margin-left: -247px;top:50%;margin-top: -217px;}
#submit_box01 .submit_box_title,#submit_box02 .submit_box_title{position: absolute;left:50%;margin-left: -145px;top:50%;margin-top: -285px;}
#submit_box02 .submit_box_title{margin-top: -186px;}
#submit_box01 input,#submit_box02 input{width:400px;height:60px;background: #fff;border-radius: 10px;position: absolute;left:50%;
    margin-left: -200px;top:50%;margin-top: -198px;font-size:24px;text-indent: 10px;}
#submit_box01 input[name="phone"]{margin-top: -100px;}
#submit_box01 input[name="dist"]{margin-top: 100px;}
#submit_box01 select{width:190px;height:60px;border-radius: 10px;font-size:24px;-webkit-appearance: none;
    position: absolute;left:50%;margin-left: -200px;top:50%;margin-top: 0px;text-indent: 10px;background: #fff}
#submit_box01 select.city{margin-left: 10px;}
#submit_box01 .submit_box_btnSure,#submit_box02 .submit_box_btnSure{position: absolute;left:50%;margin-left: -202px;top:50%;margin-top: 192px;  }
#submit_box02 input[name="phone"]{margin-top: -5px;}
#submit_box02 input[name="name"]{margin-top: -100px;}
#submit_box02 .submit_box_btnSure{margin-top: 83px;}
.submit_box_tips{position: absolute;left:50%;margin-left: -142px;top:50%;margin-top: 272px;}
#submit_box02 .submit_box_tips{margin-top: 164px;}

.tips_alert .tips_box_bg{position: absolute;left:50%;margin-left: -248px;top:50%;margin-top: -169px;}
.tips_alert .tips_title{position: absolute;left:50%;margin-left: -98px;top:50%;margin-top: -125px;}
.tips_alert .tips_title01{margin-left: -86px;}
.tips_alert .tips_text{position: absolute;left:50%;margin-left: -197px;top:50%;margin-top: -38px;}
.tips_alert .tips_text01{margin-top: -61px;margin-left: -220px;}
.tips_alert .tips_text{margin-top: -64px;}
.tips_alert  .tips_text04{margin-left: -216px;}
.tips_alert .tips_btnSure{position: absolute;left:50%;margin-left: -202px;top:50%;margin-top: 38px;}
.tips_alert .tips_btnShare{position: absolute;left:50%;margin-left: -202px;top:50%;margin-top: 51px;}
